<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <!-- Title -->
  <div class="mb-4">
    <h1 class="h3 font-weight-normal mb-1">Sign In</h1>
    <p>or <a class="link" onClick="formSwitchTo('sign_up')">sign up for an account.</a></p>
  </div>
  <!-- End Title -->

  <!-- Form Group -->
  <div class="js-form-message form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
  </div>
  <!-- End Form Group -->

  <!-- Form Group -->
  <div class="js-form-message form-group">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
  </div>
  <!-- End Form Group -->


  <!-- Checkbox -->
<!--   <% if devise_mapping.rememberable? %>
    <div class="js-form-message mb-3">
      <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
        <%= f.check_box :remember_me, class: "custom-control-input" %>
        <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required="" data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error" data-success-class="u-has-success">
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end %> -->
  <!-- End Checkbox -->

  <div class="actions">
    <%= f.submit "Log In", class: "btn btn-primary transition-3d-hover", style: "width: 100%;" %>
  </div>
<% end %>
