    <div class="container">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 text-white">
        <h5 class="my-0 mr-md-auto font-weight-normal">UnkBox</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2" href="#">Settings</a>
        </nav>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary") %>
      </div>

      <div class="breadcrumbs">
        <div class="my-files">
          <h3>
            My Files
            <button type="button" class="btn btn-primary btn-sm btn-upload-modal" data-toggle="modal" data-target="#uploadModal">i</button>
          </h3>
        </div>
        <%= render 'breadcrumbs' %>
      </div>
      <div class="row data animated">
        <% @folders.each do |folder| %>
          <div class="col-lg-3">
            <%= link_to url_for(:only_path => true) + "/" + folder.name, class: "files" do %>
              <span class="icon folder full">
              </span>
              <span class="name">
                <%= folder.name %>
              </span>
              <span class="details">
                <%= folder.children.count + folder.files.count %> Items
              </span>
            <% end %>
          </div>
        <% end %>
        <% @files.each do |file| %>
        <div class="col-lg-3">
          <a href="#" class="files">
            <span class="icon file f-<%= file.blob.filename.extension %>">
              .<%= file.blob.filename.extension %>
            </span>
            <span class="name">
              <%= file.blob.filename %>
            </span>
            <span class="details">
              <%= file.blob.byte_size / 1000 %> KB
            </span>
          </a>
        </div>
        <% end %>
        <div class="col-lg-3">
          <button class="files create-new" data-toggle="modal" data-target="#createNewModal">
            <span class="icon folder full">
            </span>
            <span class="name">
              Create New Folder
            </span>
            <span class="details">
              -
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- Upload Doc Modal -->
    <div
      class="modal fade upload-modal"
      id="uploadModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="uploadModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_for @subfolder_parent, html: { class: 'dropzone' } do |f| %>

            <div class="modal-header">
              <h4 class="modal-title">
                Upload Files
              </h4>
            </div>

            <div class="modal-body">
              <div class="row">
                <!--  Dropzone -->
                <div class="col-sm-12">
                  <%= f.file_field :files, multiple: true, input_html: { class: 'hidden' } %>
                </div> <!-- .dropzone -->
              </div>
            </div> <!-- .modal-body -->

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
              </button>
              <%= f.submit 'Upload', class: 'btn btn-primary' %>
            </div> <!-- .modal-footer -->
          <% end %>
        </div> <!-- .modal-content -->
      </div> <!-- .modal-dialog -->
    </div> <!-- #upload-modal -->


    <!-- Create new folder modal -->
    <div class="modal fade" id="createNewModal" tabindex="-1" role="dialog" aria-labelledby="createNewModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_for @new_folder, url: {action: "create", controller: "folders"} do |f| %>
            <div class="modal-header">
              <h5 class="modal-title" id="createNewModalLabel">Create New Folder</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= f.text_field :name, placeholder: "Name of Folder", class: "form-control" %>
              <%= f.hidden_field :parent_id, value: @subfolder_parent.id %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Create", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>